@model SOLID.Models.Animal

@{
    ViewData["Title"] = "Details";
}
<main>
    <div class="container">
        <div class="hero-image"><img class="hero img-fluid" src=" /img/Vet_hero.jpg"></div>
        

<h1>Details</h1>

<div>
    <h4>Animal</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PetsName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PetsName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TypeOfAnimal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TypeOfAnimal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.DisplayName)
        </dd>
    </dl>
</div>

<div>
    <a   class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.PetsId">Edit</a> |
    <a   class="btn btn-primary"  asp-action="Index">Back to List</a>
</div>
</div>
</main>